@page "/blog/post"
@using Models;
@inject HttpClient HttpClient;
@using Markdig;
@inject NavigationManager NavigationManager;


<link rel="stylesheet" href="css/markdown.css">

<style>
    img {
        height: auto;
        width: auto;
        max-width: 100%;
    }
</style>

<PageTitle>@PostData?.Title</PageTitle>
    <HeadContent>
        <meta property="og:title" content="@PostData?.Title - Pablo Suarez Romero">
        <meta property="og:description" content="@PostData?.description">
        <meta name="twitter:title" content="@PostData?.Title - Pablo Suarez Romero" />
        <meta name="twitter:description" content="@PostData?.description" />
    </HeadContent>
    <MyBlog.Components.Header></MyBlog.Components.Header>
    <div class="post">
        <div class="post-info">
            <h2 class="post-title">@PostData?.Title</h2>
        <p class="post-date">@PostData?.Date</p>
    </div>
    <div>
        <div class="post-content">
            @((MarkupString)Text)
        </div>
    </div>
    <div style="margin:50px;"></div>
</div>

@code {

    [Parameter]
    public string FileName { get; set; }

    [Parameter] public string FileId { get; set; }


    private string Text = "";

    private Post? PostData { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var uri = new Uri(NavigationManager.Uri);
        var fileId = System.Web.HttpUtility.ParseQueryString(uri.Query).Get("file");

        if (!string.IsNullOrEmpty(fileId))
        {
            FileName = fileId;
        }
        
        if (FileName == null)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {


            string empty = String.Empty;
            List<Post> posts = await HttpClient.GetFromJsonAsync<List<Post>>("PostInfo.json") ?? new List<Post>();

            var found = posts.Find(x => x.fileName.Contains(FileName));

            //TODO: Sometimes if you manually type the url it doesn't work, this is a workaround
            //Contains can not evaluate
            if (found == null)
            {
                foreach (var x in posts)
                {
                    if (x.fileName.ToLower() == FileName.ToLower())
                    {
                        found = x;
                    }
                }
            }

            if (found != null)
            {
                if (found.isExternal)
                {
                    NavigationManager.NavigateTo(found.url.ToString());
                }
                empty = await HttpClient.GetStringAsync($"/files/posts/{found.fileName}.md");
                Text = Markdown.ToHtml(empty);
                PostData = found ?? new();
            }
            else
            {
                NavigationManager.NavigateTo("/");
            }
        }
    }
}