@page "/{*path}"
@inject NavigationManager? NavigationManager


@if (string.IsNullOrEmpty(this.Path))
{
    <div class="sectionBlock firstBlock" id="sec-1">
        <div class="container">

            <MyBlog.Components.Portrait></MyBlog.Components.Portrait>

            
            <a href="#blog">
                <div class="scroll-down"></div>
            </a>
        </div>
    </div>

    <div class="sectionBlock secondBlock" id="blog">
        <div class="container">


            <MyBlog.Components.PostList></MyBlog.Components.PostList>


        </div>
    </div>
}
else
{
    <MyBlog.Components.Header></MyBlog.Components.Header>
    <MyBlog.Components.PostInfo Path="@Path"></MyBlog.Components.PostInfo>

}

@code {
    [Parameter]
    public string? Path { get; set; }

}